.joinroom {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100%;
    margin-top: 0;
}

.label {
    color: aliceblue;
    margin-bottom: 1rem;
    font-size: x-large;

}

.input {
    margin-bottom: 1rem;
    height: 2rem;
    background-color: black;
    border: 2px solid #9ef01a;
    box-shadow: 0 0 1rem #9ef01a;
    border-radius: 2rem;
    color: aliceblue;
    padding: 1rem;

}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15rem;
    margin-top: 5rem;
}

.submit {
    width: 5rem;
    height: 2rem;
    border-radius: 5rem;
    background-color: #0e396d;
    border: 1px solid #9ef01a;
    cursor: pointer;
    color: #6fffe9;
    transition: 0.5s ease-in-out;

}

.btn-fix {
    width: 5rem;
    height: 2rem;
}

.submit:hover {
    background-color: #41638e;
    border: 1px solid #f01a5a;
}